.cards-wrapper {
  max-width: 900px !important;
}

.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(278px, 1fr));
  grid-gap: 16px;
}

.cards > ul > li {
  background-color: var(--background-color);
}

.cards > ul > li > a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  position: relative;

  &:hover {
    text-decoration: none;
  }
}

.cards .cards-card-body {
  margin: 0 16px;

  strong {
    text-decoration: none;
    font-family: var(--heading-font-family);
    font-size: var(--heading-font-size-s);
    text-align: center;
    display: block;
    line-height: 1.25;
  }

  p.button-container {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: left;

    a.button {
      margin: 0;
      width: 100%;
      display: block;
      text-align: left;
      background: linear-gradient(45deg,rgba(10,50,85,0.9) 0,rgba(0,117,80,0.8) 82%);
      border: none;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      font-size: 14px;
      font-weight: 400;
  

      &::after {
        content: ' \226B';
      }
    }
  }
}

.cards .cards-card-image {
  line-height: 0;
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  border-radius: 10px;
}
