.section.nav-main {
    position: fixed;
    left: 0;
    top: 0;
    width: 12.5rem;
    background-color: purple;
    background-image: url(../../images/MSCT-NAV-BKGD.jpg);
    height: 100%;
    letter-spacing: .04em;
    z-index: 500;

    .default-content-wrapper {
      >p {
        padding: 0 5px;
        border-bottom: 1px solid rgba(256,256,256, .50);
        margin-bottom: 0;
      }

      >ul {
        margin: 0;
        padding: 0;
        padding-inline-start: 0;
        list-style: none;
        color: white;

        >li {
          padding-left: 15px;
          border-bottom: 1px solid rgba(256,256,256, .50);
          padding-top: 10px;
          position: relative;

          &.nav-drop {
            &::before {
              content: '';
              width: 20px;
              height: 20px;
              background-color: white;
              mask-image: url("data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20448%20512%22%3E%3Cpath%20d%3D%22M201.4%20374.6c12.5%2012.5%2032.8%2012.5%2045.3%200l160-160c12.5-12.5%2012.5-32.8%200-45.3s-32.8-12.5-45.3%200L224%20306.7%2086.6%20169.4c-12.5-12.5-32.8-12.5-45.3%200s-12.5%2032.8%200%2045.3l160%20160z%22%2F%3E%3C%2Fsvg%3E");
              mask-repeat: no-repeat;
              position: absolute;
              right: 5px;
            }
  
          }

         
          > ul {
            display: none;
          }
        }
      }
    }
}


.nav-hamburger {
  display: none;
}

.section.nav-tools {
    width: 100%;
 > .default-content-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    max-width: none;
    background-color: white;

    > p {
      color: #c94f08;
      font-size: .9em;
      text-transform: uppercase;
      margin-left: 2rem;
      margin-right: 2rem;
  }
}
  &:after {
    content: ' ';
    display: block;
    height: 8px;
    width: 100%;
    margin: auto;
    background: linear-gradient(45deg,#252167,#007550,#252167,#007550);
    animation: gradient 8s ease infinite;
    background-size: 300% 300%
  }
}

