.section.nav-main {
    position: fixed;
    left: 0;
    top: 0;
    width: 12.5rem;
    background-color: purple;
    background-image: url('../../images/MSCT-NAV-BKGD.jpg');
    height: 100%;
    letter-spacing: .04em;
    z-index: 500;
    text-align: left;

    .default-content-wrapper {
      >p {
        padding: 0 5px;
        border-bottom: 1px solid rgb(256 256 256 / 50%);
        margin-bottom: 0;
      }

      >ul {
        margin: 0;
        padding: 0;
        padding-inline-start: 0;
        list-style: none;
        color: white;
        text-align: left;

        >li {
          padding-left: 15px;
          border-bottom: 1px solid rgb(256 256 256 / 50%);
          padding-top: 10px;
          position: relative;

          &.nav-drop {
            &::before {
              content: '';
              width: 20px;
              height: 20px;
              background-color: white;
              mask-image: url("data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20448%20512%22%3E%3Cpath%20d%3D%22M201.4%20374.6c12.5%2012.5%2032.8%2012.5%2045.3%200l160-160c12.5-12.5%2012.5-32.8%200-45.3s-32.8-12.5-45.3%200L224%20306.7%2086.6%20169.4c-12.5-12.5-32.8-12.5-45.3%200s-12.5%2032.8%200%2045.3l160%20160z%22%2F%3E%3C%2Fsvg%3E");
              mask-repeat: no-repeat;
              position: absolute;
              right: 5px;
            }
  
          }

         
          > ul {
            display: none;
          }
        }
      }
    }
}


.nav-hamburger {
  display: none;
}

.section.nav-tools {
    width: 100%;
 
    > .default-content-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    max-width: none;
    background-color: white;

    > p {
      color: #c94f08;
      font-size: .9em;
      text-transform: uppercase;
      margin-left: 2rem;
      margin-right: 2rem;
      position: relative;
      padding-left: 25px;

      &::before {
        content: '';
        background-color: #c94f08;
        width: 20px;
        height: 20px;
        position: absolute;
        left: 0;
        mask-repeat: no-repeat;
        mask-size: contain;
      }

      &:first-of-type {
        &::before {
          mask-image: url('data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20448%20512%22%3E%3Cpath%20d%3D%22M224%20256A128%20128%200%201%200%20224%200a128%20128%200%201%200%200%20256zm-45.7%2048C79.8%20304%200%20383.8%200%20482.3C0%20498.7%2013.3%20512%2029.7%20512H418.3c16.4%200%2029.7-13.3%2029.7-29.7C448%20383.8%20368.2%20304%20269.7%20304H178.3z%22%2F%3E%3C%2Fsvg%3E');  
        }
      }

      &:nth-child(2) {
        &::before {
          mask-image: url('data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20448%20512%22%3E%3Cpath%20d%3D%22M128%200c17.7%200%2032%2014.3%2032%2032V64H288V32c0-17.7%2014.3-32%2032-32s32%2014.3%2032%2032V64h48c26.5%200%2048%2021.5%2048%2048v48H0V112C0%2085.5%2021.5%2064%2048%2064H96V32c0-17.7%2014.3-32%2032-32zM0%20192H448V464c0%2026.5-21.5%2048-48%2048H48c-26.5%200-48-21.5-48-48V192zm64%2080v32c0%208.8%207.2%2016%2016%2016h32c8.8%200%2016-7.2%2016-16V272c0-8.8-7.2-16-16-16H80c-8.8%200-16%207.2-16%2016zm128%200v32c0%208.8%207.2%2016%2016%2016h32c8.8%200%2016-7.2%2016-16V272c0-8.8-7.2-16-16-16H208c-8.8%200-16%207.2-16%2016zm144-16c-8.8%200-16%207.2-16%2016v32c0%208.8%207.2%2016%2016%2016h32c8.8%200%2016-7.2%2016-16V272c0-8.8-7.2-16-16-16H336zM64%20400v32c0%208.8%207.2%2016%2016%2016h32c8.8%200%2016-7.2%2016-16V400c0-8.8-7.2-16-16-16H80c-8.8%200-16%207.2-16%2016zm144-16c-8.8%200-16%207.2-16%2016v32c0%208.8%207.2%2016%2016%2016h32c8.8%200%2016-7.2%2016-16V400c0-8.8-7.2-16-16-16H208zm112%2016v32c0%208.8%207.2%2016%2016%2016h32c8.8%200%2016-7.2%2016-16V400c0-8.8-7.2-16-16-16H336c-8.8%200-16%207.2-16%2016z%22%2F%3E%3C%2Fsvg%3E');  
        }
      }

      &:last-of-type {
        &::before {
          display: none;
        }
      }
  }
}

  &::after {
    content: ' ';
    display: block;
    height: 8px;
    width: 100%;
    margin: auto;
    background: linear-gradient(45deg,#252167,#007550,#252167,#007550);
    animation: gradient 8s ease infinite;
    background-size: 300% 300%
  }
}

